.container {
  font-size: 28px;
  font-family: sans-serif;
  display: grid;
  grid-gap: 30px;
  background-color: #ddd;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow: row dense;
}

[class^='grid-item'] {
  outline: 1px #f90 dashed;
  display: grid;
  background-color: goldenrod;
  align-items: center;
  justify-content: center;
}

.grid-item3 {
  grid-column: 2/-1;
}

.grid-item6 {
  grid-row: 3/6;
  grid-column: 3 / 5;
}

.grid-item17 {
  grid-row: 6 / span 2;
  grid-column: 2/3;
}

.grid-item4 {
  grid-row: 4 / 7;
}
