* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

[class^='clip'] {
  height: 400px;
  width: 400px;
  background-image: url('1.jpg');
  display: inline-block;
}

.clip-circle {
  clip-path: circle(35% at 60% 40%);
}

.clip-ellipse {
  clip-path: ellipse(100px 50px at 60% 40%);
}

.clip-inset {
  clip-path: inset(40px 20px 40px 20px round 0 30px 15px 40px);
}

.clip-polygon {
  clip-path: polygon(50% 60px, 100% calc(100% - 40px), 0% calc(100% - 40px));
}

.clip-url {
  clip-path: url(#starSymbol);
}
