
body {
	padding: 0;
	margin: 0;
}

nav {
	padding: 30px;
}

a {
	display: inline-flex;
	background-color: #CC3232;
	flex: 1 0 auto;
	min-height: 88px;
	text-decoration: none;
	font-size: 22px;
	border: 1px solid #333;
	padding: 0 10px;
	color: #ccc;
	font-family: sans-serif;
	align-items: center;
	transition: transform 1s;
}

.scale:hover {
	transform: scale(1.4);
}

.translate:hover {
	transform: translate(-20px, -20px);
}

.rotate:hover {
	transform: rotate(30deg);
}

.skew:hover {
	transform: skew(40deg, 12deg);
}

.matrix:hover {
	transform: matrix(1.178, -0.256, 1.122, 1.333, -41.533, -1.989);
}