span {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	background-color: blue;
}

/* span:nth-child(2n+3) {
	background-color: #f90;
	border-radius: 50%;
} */

/* span:nth-child(-2n+3) {
	background-color: #f90;
	border-radius: 50%;
} */

span:nth-last-child(-n+3) {
	background-color: #f90;
	border-radius: 50%;
}