.carbon-fibre {
	margin: 1rem;  
	width: 400px;
	height: 200px;
	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	/*   background-repeat:no-repeat; */
}

@media (min-width: 45rem) {
	.carbon-fibre {
		background: #333;
	}
}