* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

fieldset {
  border-radius: 3px;
  border: 1px solid #666;
}

.form-Wrapper {
  padding: 10px;
}

fieldset + fieldset {
  margin-top: 40px;
}

@media (min-width: 800px) {
  .form-Wrapper {
    max-width: 750px;
    margin: 0 auto;
  }
}

.form-Intro {
  padding-bottom: 10px;
}

.form-Intro h1 {
  margin-bottom: 0;
}

.form-Intro h2 {
  margin-top: 5px;
  font-weight: 400;
  line-height: 1.3;
}

/*We want reverse order to sort the label being after the input*/
.form-Input_Wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.form-Input_Wrapper label {
  color: 888;
  font-size: 15px;
  margin-bottom: 5px;
}

/*Note we are using a reverse order for flex-direction to make labels appear before the input*/
@media (min-width: 800px) {
  .form-Input_Wrapper {
    flex-direction: row-reverse;
    align-items: center;
  }
  .form-Input_Wrapper input:not([type="range"]):not([type="color"]) {
    flex: 0 0 50%;
  }
  .form-Input_Wrapper label {
    flex: 1 0 50%;
    margin-bottom: 0;
  }
  textarea {
    flex: 1 0 50%;
  }
}

.form-Input_Wrapper + .form-Input_Wrapper {
  margin-top: 10px;
}

/*Wrap the slider and the indicator so they stay as one visual item*/
.form-Slider_Wrapper {
  display: flex;
}

#range {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-left: 1ch;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 3px;
  border-radius: 50%;
  background-color: #cc3232;
}

legend {
  font-size: 1.3em;
  padding: 3px 6px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 2px;
}

legend span {
  font-size: 0.8em;
  opacity: 0.8;
  display: inline-flex;
}

input:not([type="range"]),
textarea {
  min-height: 40px;
  padding: 2px;
  font-size: 17px;
  border: 1px solid #ebebeb;
  outline: none;
  transition: transform 0.4s, box-shadow 0.4s, background-position 0.2s;
  background: radial-gradient(400px circle, #fff 99%, transparent 99%), #f1f1f1;
  background-position: -400px 90px, 0 0;
  background-repeat: no-repeat, no-repeat;
  border-radius: 0;
  position: relative;
  caret-color: var(--caretColor);
}

input:not([type="range"]):focus,
textarea:focus {
  background-position: 0 0, 0 0;
}

/*This is the color of placeholder text*/
input:placeholder-shown {
  color: #999;
}

/*This changes the color of placeholder text when the input gets focused*/
input:not([type="range"]):focus:placeholder-shown {
  color: #555;
}

/*The About the film section legend and inputs*/
.form-About_Wrapper {
  --caretColor: #cc3232;
}
.form-About_Wrapper legend {
  background-color: #cc3232;
}
.form-About_Wrapper input:not([type="range"]) {
  box-shadow: inset 0 -3px 0 #cc3232;
}
.form-About_Wrapper input:not([type="range"]):focus {
  border: 1px solid #cc3232;
  box-shadow: inset 0 -3px 0 #cc3232, 0 0 15px 5px #ebebeb;
}

/*The What should have won section legends and inputs*/
.form-What_Wrapper {
  --caretColor: #739327;
}
.form-What_Wrapper legend {
  background-color: #739327;
}
.form-What_Wrapper input:not([type="range"]) {
  box-shadow: inset 0 -3px 0 #739327;
}
.form-What_Wrapper input:focus {
  border: 1px solid #739327;
  box-shadow: inset 0 -3px 0 #739327, 0 0 15px 5px #ebebeb;
}

/*The About you section legends and inputs*/
.form-You_Wrapper {
  --caretColor: #236a7e;
}
.form-You_Wrapper legend {
  background-color: #236a7e;
}
.form-You_Wrapper input:not([type="range"]) {
  box-shadow: inset 0 -3px 0 #236a7e;
}
.form-You_Wrapper input:focus {
  border: 1px solid #236a7e;
  box-shadow: inset 0 -3px 0 #236a7e, 0 0 15px 5px #ebebeb;
}

/*Make all inputs scale up when they get focus*/
.form-Input_Wrapper input:focus {
  transform: scale(1.06);
}

/*Now we want some basic styling to indicate that fields are required, valid or invalid*/
input:required + label:after {
  content: "*";
  font-size: 2.1em;
  position: relative;
  top: 6px;
  display: inline-flex;
  margin-left: 0.2ch;
  transition: color 1s;
}

input:required:invalid + label:after {
  color: red;
}

input:required:valid + label:after {
  color: green;
}

/*Submit button flipper*/
.form-Submit_Btn {
  appearance: none;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  margin: 1em 0;
  font-size: 1rem;
}

.flipper {
  perspective: 400px;
  position: relative;
  width: 300px;
  height: 44px;
  display: block;
}

.flipper-object {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.panel {
  display: flex;
  min-height: 44px;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flipper-vertical .back {
  transform: rotateX(180deg);
}

.back {
  background-color: #739328;
  color: #fff;
}

.front {
  border: 1px solid #739328;
}

.form-Submit_Btn:hover .flipper-vertical,
.form-Submit_Btn:focus .flipper-vertical {
  transform: rotateX(180deg);
}
